{% extends "base.html" %}

{% block title %}
Search
{% endblock %}

{% block content %}

<h2>Search News</h2>

<form method="GET" action="{{ url_for('search.search') }}">

    <input
        type="text"
        name="q"
        placeholder="Search news..."
        value="{{ query }}"
        style="width:350px; padding:8px;">

    <button type="submit">
        Search
    </button>

</form>

<hr>

{% if query %}

    <h3>
        Results for "{{ query }}"
    </h3>

{% endif %}

{% if articles %}

    {% for article in articles %}

        <div class="article-card">

            <h3>{{ article["title"] }}</h3>

            <p>{{ article["summary"] }}</p>

            <p>

                <strong>Source:</strong>
                {{ article["source"] }}

                |

                <strong>Category:</strong>
                {{ article["category"] }}

            </p>

            <p>

                <strong>Cluster:</strong>
                {{ article["cluster_name"] }}

            </p>

            <a
                href="{{ url_for(
                    'article.open_article',
                    article_id=article['id']
                ) }}">

                📖 Read Article

            </a>

        </div>

        <hr>

    {% endfor %}

{% elif query %}

    <h3>No articles found.</h3>

{% endif %}

{% endblock %}